version: '3.8'

services:

  s2t_api:
    build: .
    image: luongnguyenminhan/securescribe:s2t
    ports:
      - "9999:9998"
    env_file:
      - .env
    restart: unless-stopped
    networks:
      - securescribe-net
    depends_on:
      - redis

  redis:
    image: redis:alpine
    ports:
      - "6379:6379"
    restart: unless-stopped
    networks:
      - securescribe-net
    volumes:
      - redis_data:/data
    command: redis-server --appendonly yes

networks:
  securescribe-net:
    driver: bridge

volumes:
  redis_data:
